@use "./responsive" as r;

.columns:last-child {
  margin-bottom: -.75rem;
}

.columns:not(:last-child) {
   margin-bottom: .75rem
}

.columns.is-centered {
  justify-content: center;
}

.column {
  flex: 1 1 0;
  padding: 1.25rem;
  display: block;

  @for $i from 0 through 12 {
    &.is-#{$i}-mobile {
      @include r.devices(mobile) {
        flex: none;
        width: percentage(calc($i / 12));
      }
    }
    
    &.is-#{$i}-tablet {
      @include r.devices(tablet) {
        flex: none;
        width: percentage(calc($i / 12));
      }
    }

    &.is-#{$i}-desktop {
      @include r.devices(desktop) {
        flex: none;
        width: percentage(calc($i / 12));
      }
    }

    &.is-#{$i}-widescreen {
      @include r.devices(widescreen) {
        flex: none;
        width: percentage(calc($i / 12));
      }
    }

    &.is-#{$i}-fullhd {
      @include r.devices(fullhd) {
        flex: none;
        width: percentage(calc($i / 12));
      }
    }
  }
}