@media (prefers-color-scheme: dark) {
  :root {
    --color-red: #ff5555;
    --color-green: #20FF6C;
    --color-blue: #1789fc;
    --color-purple: #646cff;
    --color-yellow: #f5b342;

    /* Semantic colors */
    --success-color: var(--color-green);
    --warn-color: var(--color-yellow);
    --error-color: var(--color-red);
    --highlight-color: var(--color-purple);
    --link-color: var(--color-blue);

    /* App general */
    --bg-color: var(--color-neutral-2);
    --logo-color: var(--color-neutral-4);
    --h1-color: var(--color-neutral-d);
    --h3-color: var(--color-neutral-6);

    /* Keep Typing */
    --keep-typing-color: var(--color-purple);
    --keep-typing-icon-color: var(--color-purple);

    /* Codebox */
    --codebox-color-text: var(--color-neutral-a);
    --codebox-color-background: var(--color-neutral-3);
    --codebox-color-border: var(--color-neutral-4);
    --codebox-color-border-focus: var(--color-neutral-6);

    /* Fields */
    --field-color: var(--color-neutral-6);
    --field-alt-color: var(--color-neutral-8);
    --field-name-color: var(--color-neutral-4);
    --field-text-color: var(--color-neutral-7);
    --field-value-color: var(--color-neutral-c);
    --field-decorator-color: var(--color-neutral-4);

    /* Highlight Hints */
    --highlight-hint-color: var(--hightlight-color);
    --highlight-hint-alt-color: var(--color-neutral-e);
    --highlight-hint-bg-color: var(--color-neutral-4);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /*TODO improve these for light theme */
    --color-red: #EB5353;
    --color-green: #20FF6C;
    --color-blue: #1789fc;
    --color-purple: #646cff;
    --color-yellow: #f5b342;

    /* Semantic colors */
    --success-color: var(--color-green);
    --warn-color: var(--color-yellow);
    --error-color: var(--color-red);
    --highlight-color: var(--color-purple);
    --link-color: var(--color-blue);

    /* App general */
    --bg-color: var(--color-neutral-f);
    --logo-color: var(--color-neutral-b);
    --h1-color: var(--color-neutral-5);
    --h3-color: var(--color-neutral-9);

    /* Keep Typing */
    --keep-typing-color: var(--color-purple);
    --keep-typing-icon-color: var(--color-purple);

    /* Codebox */
    --codebox-color-text: var(--color-neutral-7);
    --codebox-color-background: var(--color-neutral-d);
    --codebox-color-border: var(--color-neutral-b);
    --codebox-color-border-focus: var(--color-neutral-9);

    /* Fields */
    --field-color: var(--color-neutral-7);
    --field-alt-color: var(--color-neutral-6);
    --field-name-color: var(--color-neutral-a);
    --field-text-color: var(--color-neutral-8);
    --field-value-color: var(--color-neutral-4);
    --field-decorator-color: var(--color-neutral-b);

    /* Highlight Hints */
    --highlight-hint-color: var(--hightlight-color);
    --highlight-hint-alt-color: var(--color-neutral-4);
    --highlight-hint-bg-color: var(--color-neutral-a);
  }
}

html, body {
  background-color: var(--bg-color) !important;
}

* {
  overflow-anchor: none;
}

svg.logo {
  width: 7em;
  height: 100%;
  margin-top: 5em;
  color: var(--logo-color);
}

.rail-id {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rail-id .logo,
.rail-id h1,
.rail-id h3 {
  user-select: none;
  -webkit-user-select: none;
}

.rail-id h1 {
  margin: 0;
  margin-top: 1rem;
  line-height: 1em;
  font-size: 5rem;
  font-weight: 600;
  color: var(--h1-color);
}

.rail-id h3 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--h3-color);
}

#scroll-target {
  overflow-anchor: auto !important;
  height: 1px;
  width: 100%;
}

.results {
  min-height: 150px;
  padding-bottom: 3rem;
}

.results > .field-router {
  flex-grow: 1 !important;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.results.disable {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: .35;
}

.controls {
  width: 100%;
  margin: 0;
  top: 0;
  position: sticky;
  z-index: 99;
}
.controls > .controls-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6%;
  margin: 0;
  z-index: -10;
}
.controls > .controls-blur::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 98;
  background: var(--bg-color);
  opacity: 0.8;
  overflow: hidden;
}
.controls > * {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.controls .keep-typing,
.controls .error,
.controls .warnings {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: .2rem;
}

.controls .keep-typing *,
.controls .error *,
.controls .warnings * {
  user-select: none;
  -webkit-user-select: none;
}

.code-box {
  font-family: "JetBrains Mono";
  font-weight: 500;
  text-align: center;
  font-size: 2.1rem;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  padding: .7rem;

  color: var(--codebox-color-text);
  background: var(--codebox-color-background);
  outline: 2px solid var(--codebox-color-border);
}
.code-box:focus {
  outline: 2px solid var(--codebox-color-border-focus);
}
.status-valid .code-box {
  outline: 2px solid var(--success-color);
}
.status-warn .code-box {
  outline: 2px solid var(--warn-color);
}
.code-box span.pos-error {
  color: var(--error-color);
}

.warnings {
  display: flex;
  color: var(--warn-color);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
}
.warnings .gutter svg {
  width: 3.25rem;
  height: 100%;
  margin-right: 2rem;
}
.warnings ul {
  list-style-position: outside;
}
.warnings li {
  list-style-type: disc;
  margin-top: .4em;
  margin-bottom: .4em;
}

.keep-typing {
  color: var(--keep-typing-color);
  text-align: center;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keep-typing svg {
  width: 1.7em;
  height: 100%;
  color: var(--keep-typing-icon-color);
  margin-right: 0.5em;
}

.error {
  display: flex;
  color: var(--error-color);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 1em;
}
.error .gutter svg {
  width: 3.25em;
  height: 100%;
  margin-right: 1em;
}

.field-body {
  margin-top: 0.75em;
  flex-direction: column;
  margin-left: .5em;
}
.field-body > * {
  margin-left: 1.8rem;
}
.field-body::before {
  content: "⟫";

  position: absolute;
  color: var(--field-decorator-color);
  font-size: 2em;
  line-height: 0.85em;
}

.highlight *:hover {
  cursor: default;
}
.highlight .field-value-header .field-value {
  animation: highlight-pulse 350ms ease-out 0s 1 normal forwards;
}
.highlight .field-body::before {
  color: var(--highlight-color);
}

.field {
  color: var(--field-color);
  padding-bottom: 1.6em;
  animation: highlight-pulse 350ms ease-in 0s 1 normal forwards;
}

.field-name {
  color: var(--field-name-color);
  font-size: 1.75em;
  font-weight: 800;
}

.field-desc {
  color: var(--field-text-color);
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: .5rem;
}

.field-value {
  color: var(--field-value-color);
  font-size: 1.35rem;
  font-weight: 400;
  width: fit-content;
}

.field-value a {
  margin-left: 0.2rem;
}

.field-value-body {
  font-weight: 200;
  font-size: 1rem;
}

.field-value-desc {
  color: var(--field-text-color);
  font-size: 1rem;
}

.field-notes * {
  color: var(--field-text-color);
}
.field-notes > *:first-child {
  margin-top: .4em;
}
.field-notes ul {
  list-style-position: inside;
}
.field-notes ul li {
  list-style-type: disc;
}

/* Highlights by position */
@for $i from 0 through 50 {
  .pos-#{$i} .pos-#{$i} {
    color: var(--highlight-color);
    animation: highlight-pulse 350ms ease-out 0ms 1 normal forwards;
  }
}

/* Highlight Hint - Underline */
.highlight-hint-underline {
  /*TODO fix these, var(--highlight-hint-color) not working for some reason, directly using var(--highlight-color) instead (multiple spots) */
  xtext-decoration-color: var(--highlight-hint-color);
  text-decoration-color: var(--highlight-color);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
}
.highlight .highlight-hint-underline {
  text-decoration-color: var(--highlight-hint-alt-color);
}

/* Highlight Hint - Dot (pointer) */
.highlight-hint-dot {
  font-size: 0.8em;
  color: var(--highlight-color);
  margin-left: .5rem;
}
.highlight-hint-dot svg {
  position: absolute;
  transform: translateY(-1.5rem);
}
.highlight-hint-dot .fa-circle {
  color: var(--highlight-hint-bg-color);
  transform: scale(1.2) translate(-.02rem, .14rem);
}
.highlight-hint-dot .fa-hand-pointer {
  transform: scale(.9) translateY(.15rem);
  z-index: 10;
}
.highlight .highlight-hint-dot .fa-circle {
  color: var(--highlight-color);
}
.highlight .highlight-hint-dot .fa-hand-pointer {
  color: var(--highlight-hint-bg-color);
}

/* Vehicle Country field */
.field.country img {
  height: 1em;
  translate: .1em .15em;
}
.field.country span {
  margin-left: .5em;
}
.field.country .short {
  font-size: .8em;
  color: var(--field-decorator-color);
}

/* Vehicle Notes field */
.vehicle-notes .field-value-body {
  padding-top: .05rem;
}
.vehicle-notes .field-value-name {
  color: var(--field-alt-value-color);
}

/* Animation Keyframes */
@keyframes highlight-pulse {
	0% { opacity: 0; color: var(--highlight-color); }
	100% { color: var(--highlight-color); }
}
@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Keeper field */
.field.keeper .field-value span {
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
  color: var(--field-value-color);
}
.field.keeper .field-value span a:hover {
  cursor: pointer;
}

/* Animation classes */
.fade-in {
  animation: fade-in 250ms ease-in;
}
.msg-pulse {
  xanimation: msg-pulse 1800ms ease-out infinite;
}
.fade-in.msg-pulse {
  xanimation: fade-in 600ms ease-in, msg-pulse 1800ms ease-out 600ms infinite;
  animation: fade-in 600ms ease-in;
}