@use "./style/responsive" as r;

#rail-id {

  display: flex;
  flex-direction: column;
  align-items: center;

  svg.logo {
    width: 9.5rem;
    height: 100%;
    margin-top: 5em;
    color: var(--logo-color);

    animation: fade-in 350ms 150ms ease-in forwards;
    opacity: 0;
  }
  
  .logo, h1, h3 {
    text-align: center;
    user-select: none;
  }
  
  h1 {
    margin: 0;
    margin-top: 1rem;
    line-height: 1em;
    font-size: 4rem;
    font-weight: 400;
    color: var(--h1-color);
    animation: fade-in 350ms 200ms ease-in forwards;
    opacity: 0;
  }
  
  h3 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--h3-color);

    animation: fade-in 350ms 300ms ease-in forwards;
    opacity: 0;
  }

  .welcome {
    color: var(--welcome-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include r.devices(mobile) {
      font-size: 1rem;
      span { text-align: left; }
    }

    svg {
      margin-right: .7rem;
      width: 1.7em;
      height: 100%;
    }
  }

  /* Controls bookmark for scroll/achor */
  #scroll-target {
    height: 1px;
    width: 100%;
  }
  
  /* ------------------------ Controls ------------------------ */

  .controls {
    width: 100%;
    margin: 0;
    top: 0;
    position: sticky;
    z-index: 99;

    animation: fade-in 350ms 650ms ease-in forwards;
    opacity: 0;

    .controls-inner {
      @include r.devices(mobile) {
        margin-top: 0;
      }
    }


    & > .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -6%;
      margin: 0;
      z-index: -10;
      backdrop-filter: blur(3px);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 98;
        background: var(--bg-color);
        opacity: 0.5;
        overflow: hidden;
      }
    }

    & > * {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
  
    /* CodeBox */
    .code-box-wrapper {
      position: relative;

      .code-box {
        font-size: 2rem;
        font-weight: 500;
        font-family: var(--font-family);
        text-align: center;
        letter-spacing: 0.025rem;
        padding: .7rem;
        border-radius: .4rem;
 
        @include r.devices(mobile) {
          font-size: 1.1rem;
        }
 
        color: var(--codebox-color-text);
        background: var(--codebox-color-background);
        border: 1px solid var(--codebox-color-border);
        outline: none; // prevent browser-added style

        /* Border styles */
        &:focus {
          border: 1px solid var(--codebox-color-border-focus);
          outline: none;
        }
        &.valid { border: 1px solid var(--success-color); }

        /* Error character highlight */
        & span.pos-error {
          color: var(--error-color);
        }

        /* Highlights by position */
        @for $i from 0 through 50 {
          &.pos-#{$i} .pos-#{$i} {
            color: var(--highlight-color);
            animation: highlight-pulse 350ms ease-out 0ms 1 normal forwards;
          }
        }
      }

      // Reset button
      svg.fa-square-xmark {
        position: absolute;
        height: 60%;
        top: 20%;
        right: 1.6%;
        color: var(--codebox-reset-color);

        @include r.devices(mobile) {
          height: 50%;
          top: 25%;
          right: 3%;
        }

        &.resetable:hover {
          color: var(--codebox-reset-focus-color);
        }
      }

      // Reset button bg mask
      svg.fa-square {
        position: absolute;
        height: 70%;
        top: 15%;
        right: 1.25%;
        color: var(--codebox-color-background);
        opacity: .75;

        @include r.devices(mobile) {
          height: 50%;
          top: 25%;
          right: 3%;
          transform: scale(1.1);
        }
      }
    }

    .feedback {
      margin: 0 1.5rem;
      font-size: .9rem;

      * { user-select: none; }

      & > * {
        padding-top: 1rem;
        padding-bottom: .2rem;
      }

      /* Error */
      .error-msg {
        display: flex;
        color: var(--error-color);
        align-items: center;
        justify-content: center;
        text-align: left;

        .error-icon svg {
          width: 3.25rem;
          height: 100%;
          margin-right: 1em;

          @include r.devices(mobile) {
            display: none;
          }
        }
      }

      /* Warnings */
      .warning-msg {
        display: flex;
        color: var(--warn-color);
        align-items: center;
        justify-content: center;
        text-align: left;
        font-weight: 300;

        .warn-icon svg {
          width: 3.25rem;
          height: 100%;
          margin-right: 2rem;

          @include r.devices(mobile) {
            display: none;
          }
        }

        ul {
          list-style-position: outside;

          li {
            list-style-type: disc;
            margin-top: .4em;
            margin-bottom: .4em;
          }
        }
      }

      /* Keep Typing */
      .keep-typing-msg {
        color: var(--keep-typing-color);
        display: flex;
        align-items: center;
        justify-content: center;

        @include r.devices(mobile) {
          font-size: .8rem;
        }

        svg {
          width: 1.7em;
          height: 100%;
          color: var(--keep-typing-icon-color);
          margin-right: 0.5em;
        }
      }
    }
  }

  /* ------------------------ Results ------------------------- */
  
  .results {
    min-height: 150px;
    padding-top: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
 
    animation: fade-in 350ms 1000ms ease-in forwards;
    opacity: 0;

    .field-router {
      .field-router-inner {
        margin: 0 auto;
      }
    }
  
    &.disable {
      user-select: none;
      pointer-events: none;
      opacity: .3;
    }
  }

  /* ------------------------- Fields ------------------------- */

  .field {
    color: var(--field-color);
    padding-bottom: 1.6em;
    animation: highlight-pulse 350ms ease-in 0s 1 normal forwards;
 
    .field-header {
      .field-name {
        color: var(--field-name-color);
        font-size: 1.6rem;
        font-weight: 800;
      }
  
      .field-desc {
        color: var(--field-text-color);
        font-weight: 300;
        margin-bottom: .5rem;
      }
    }
 
    .field-body {
      margin-top: 1rem;
      flex-direction: column;
      margin-left: .5em;
      font-size: .95rem;

      & > * { margin-left: 1.8rem; }

      &::before {
        content: "⟫";
        position: absolute;
        color: var(--field-decorator-color);
        font-size: 2em;
        line-height: 0.85em;
      }
    }

    .field-value-header {
      .field-value {
        color: var(--field-value-color);
        font-size: 1.35rem;
        font-weight: 400;
        width: fit-content;
      }
    }
 
    .field-value-body {
      font-weight: 200;
 
      .field-value-desc {
        color: var(--field-text-color);
      }

      .field-notes {
        * {
          color: var(--field-text-color);
        }

        & > *:first-child {
          margin-top: .4em;
        }

        ul {
          list-style-position: inside;
          li { list-style-type: disc; }
        }
      }
    }
  }
 
  /* ------------------- Field Highlights --------------------- */

  /* Highlight Fields (active) */
  .highlight {
    *:hover { cursor: default; }

    .field-value-header .field-value {
      animation: highlight-pulse 350ms ease-out 0s 1 normal forwards;
    }
    .field-body::before {
      color: var(--highlight-color);
    }
  }
 
  /* -------------- Highlight Hint - Underline ---------------- */

  .highlight-hint-underline {
    /*TODO fix these, var(--highlight-hint-color) not working for some reason, directly using var(--highlight-color) instead (multiple spots) */
    xtext-decoration-color: var(--highlight-hint-color);
    text-decoration-color: var(--highlight-color);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dotted;
  }

  /* Highlight Hint - Underline (active) */
  .highlight .highlight-hint-underline {
    text-decoration-color: var(--highlight-hint-alt-color);
  }
  
  /* ---------------- Highlight Hint - Dot -------------------- */

  .highlight-hint-dot {
    font-size: 0.8em;
    color: var(--highlight-color);
    margin-left: .55rem;

    svg {
      position: absolute;
      transform: translateY(-1.5rem);
    }

    .fa-circle {
      color: var(--highlight-hint-bg-color);
      transform: scale(1.5) translate(-0.02rem, 0.25rem);
    }

    .fa-hand-pointer {
      transform: scale(1.05) translate(0, .32rem);
      z-index: 10;
    }
  }

  /* Highlight Hint - Dot (active) */
  .highlight .highlight-hint-dot {
    .fa-circle { color: var(--highlight-color); }
    .fa-hand-pointer { color: var(--highlight-hint-bg-color); }
  }
  
  /* -------------------- Custom Fields ----------------------- */

  /* Country Field */
  .field.country {
    img {
      height: 1em;
      translate: .1em .15em;
    }

    .long, .short {
      margin-left: .5em;
    }

    .short {
      font-size: .8em;
      color: var(--field-decorator-color);
    }
  }
  
  /* Other Notes Field */
  .field.notes {

    .field-value-body {
      padding-top: .2rem;
    }
    .field-value-desc {
      padding-top: .1rem;
      color: var(--field-value-color);
    }
  }
  
  /* Keeper field */
  .field.keeper {
    .field-value {
      span {
        text-decoration: none;
        display: inline-block;
        font-size: .8em;
        color: var(--field-value-color);

        a {
          color: var(--field-decorator-color);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  /* ---------------------- Shareables ------------------------ */

  .shareables {
    margin: 3rem 1rem 3rem 1rem;
    text-align: center;

    .shareables-title {
      font-size: 1rem;
      padding-bottom: .3rem;
      color: var(--color-purple);
    }
    
    .shareables-code {
      font-size: .8rem;
      color: var(--field-name-color);
      padding-bottom: .5rem;
    }

    .buttons {
      display: inline;
      position: relative;

      button {
        padding: .6rem 1.4rem;
        font-size: .8rem;
      }
    }

    .msg {
      color: var(--success-color);
      margin: .6rem .6rem 2em .6rem;
      font-size: .75rem;
      text-align: center;
      opacity: 0;
    }
  }

  /* ----------------- Animation / Effects -------------------- */

  /* Keyframes */
  @keyframes highlight-pulse {
    0% { opacity: 0; color: var(--highlight-color); }
    100% { color: var(--highlight-color); }
  }

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  /* Classes */

  .fade-in {
    animation: fade-in 250ms ease-in;
  }

  .fade-out {
    animation: fade-out 250ms ease-in;
  }

  .slow-fade-out {
    animation: fade-out 1700ms ease-in;
  }
}