/*TODO revisit this stuff */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*--color-red: #ff5555;
  --color-green: #16db65;
  --color-blue: #1789fc;
  --color-purple: #646cff;
  --color-yellow: #f5b342;*/

  /* Neutral color palette */
  --color-neutral-0: #000000;
  --color-neutral-1: #111111;
  --color-neutral-2: #222222;
  --color-neutral-3: #333333;
  --color-neutral-4: #444444;
  --color-neutral-5: #555555;
  --color-neutral-6: #666666;
  --color-neutral-7: #777777;
  --color-neutral-8: #888888;
  --color-neutral-9: #999999;
  --color-neutral-a: #aaaaaa;
  --color-neutral-b: #bbbbbb;
  --color-neutral-c: #cccccc;
  --color-neutral-d: #dddddd;
  --color-neutral-e: #eeeeee;
  --color-neutral-f: #ffffff;

  /* App color mappings */
  --success-color: var(--color-green);
  --warn-color: var(--color-yellow);
  --error-color: var(--color-red);
  --highlight-color: var(--color-blue);
  --link-color: var(--color-purple);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-purple);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-neutral-f);
  }
  a:hover {
    color: var(--color-purple)
  }
  button {
    background-color: #f9f9f9;
  }
}*/
