@use "./style/responsive" as r;

/* ----------------------- Root Defs ------------------------ */

:root {
  font-family: JetBrains Mono, Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Neutral color palette */
  --color-neutral-0: #000000;
  --color-neutral-1: #111111;
  --color-neutral-2: #222222;
  --color-neutral-3: #333333;
  --color-neutral-4: #444444;
  --color-neutral-5: #555555;
  --color-neutral-6: #666666;
  --color-neutral-7: #777777;
  --color-neutral-8: #888888;
  --color-neutral-9: #999999;
  --color-neutral-a: #aaaaaa;
  --color-neutral-b: #bbbbbb;
  --color-neutral-c: #cccccc;
  --color-neutral-d: #dddddd;
  --color-neutral-e: #eeeeee;
  --color-neutral-f: #ffffff;
}

/* ----------------------- Dark Theme ----------------------- */

@media (prefers-color-scheme: dark) {
  :root {
    --color-red: #ff5555;
    --color-green: #20FF6C;
    --color-blue: #1789fc;
    --color-purple: #646cff;
    --color-yellow: #f5b342;

    /* Semantic colors */
    --success-color: var(--color-green);
    --warn-color: var(--color-yellow);
    --error-color: var(--color-red);
    --highlight-color: var(--color-purple);
    --link-color: var(--color-blue);

    /* Button */
    --button-text-color: var(--color-neutral-c);
    --button-bg-color: #1a1a1a;
    --button-border-color: var(--color-purple);

    /* App general */
    --bg-color: var(--color-neutral-2);
    --logo-color: var(--color-neutral-4);
    --h1-color: var(--color-neutral-d);
    --h3-color: var(--color-neutral-6);

    /* Keep Typing */
    --keep-typing-color: var(--color-purple);
    --keep-typing-icon-color: var(--color-purple);

    /* Codebox */
    --codebox-color-text: var(--color-neutral-d);
    --codebox-color-background: var(--color-neutral-3);
    --codebox-reset-color: #3e3e3e;
    --codebox-reset-focus-color: #4e4e4e;
    --codebox-color-border: var(--color-neutral-4);
    --codebox-color-border-focus: var(--color-neutral-6);

    /* Fields */
    --field-color: var(--color-neutral-6);
    --field-alt-color: var(--color-neutral-8);
    --field-name-color: var(--color-neutral-4);
    --field-text-color: var(--color-neutral-7);
    --field-value-color: var(--color-neutral-c);
    --field-decorator-color: var(--color-neutral-4);

    /* Highlight Hints */
    --highlight-hint-color: var(--hightlight-color);
    --highlight-hint-alt-color: var(--color-neutral-e);
    --highlight-hint-bg-color: var(--color-neutral-4);
  }
}

/* ----------------------- Light Theme ---------------------- */

@media (prefers-color-scheme: light) {
  :root {
    /*TODO improve these for light theme */
    --color-red: #EB5353;
    --color-green: #20FF6C;
    --color-blue: #1789fc;
    --color-purple: #646cff;
    --color-yellow: #f5b342;

    /* Semantic colors */
    --success-color: var(--color-green);
    --warn-color: var(--color-yellow);
    --error-color: var(--color-red);
    --highlight-color: var(--color-purple);
    --link-color: var(--color-blue);

    /* Button */
    --button-text-color: var(--color-neutral-2);
    --button-bg-color: var(--color-neutral-d);
    --button-border-color: var(--color-purple);

    /* App general */
    --bg-color: var(--color-neutral-f);
    --logo-color: var(--color-neutral-b);
    --h1-color: var(--color-neutral-5);
    --h3-color: var(--color-neutral-9);

    /* Keep Typing */
    --keep-typing-color: var(--color-purple);
    --keep-typing-icon-color: var(--color-purple);

    /* Codebox */
    --codebox-color-text: var(--color-neutral-7);
    --codebox-color-background: var(--color-neutral-d);
    --codebox-reset-color: #bebebe;
    --codebox-reset-focus-color: #aeaeae;
    --codebox-color-border: var(--color-neutral-b);
    --codebox-color-border-focus: var(--color-neutral-9);

    /* Fields */
    --field-color: var(--color-neutral-7);
    --field-alt-color: var(--color-neutral-6);
    --field-name-color: var(--color-neutral-a);
    --field-text-color: var(--color-neutral-8);
    --field-value-color: var(--color-neutral-4);
    --field-decorator-color: var(--color-neutral-b);

    /* Highlight Hints */
    --highlight-hint-color: var(--hightlight-color);
    --highlight-hint-alt-color: var(--color-neutral-4);
    --highlight-hint-bg-color: var(--color-neutral-a);
  }
}

/* ------------------- Other Global Style ------------------- */

html, body {
  font-family: inherit;
  background-color: var(--bg-color) !important;
}

/* Disable browser-added horizonal bounce on overscroll */
* { overscroll-behavior-x: none; }

/* ------------------------ Links --------------------------- */

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color);
}

/* ----------------------- Button --------------------------- */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  transition: border-color .25s;
  cursor: pointer;
  margin: 0 .2rem;
}

button:hover {
  border-color: var(--button-border-color);
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ----------------------- Responsive ----------------------- */

html {
  @include r.devices(mobile)     { font-size: 4vw; }
  @include r.devices(tablet)     { font-size: 14px; }
  @include r.devices(desktop)    { font-size: 15px; }
  @include r.devices(widescreen) { font-size: 17px; }
  @include r.devices(fullhd)     { font-size: 18px; }
}